@{
ViewBag.Title = "Create";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div>
            <h3>Enter form car info</h3>
        </div>
        <hr>
        <div>
            <form method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="text" class="form-control" name="color" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Plaque</label>
                    <input type="text" class="form-control" name="plaque" required>
                </div>
                <button type="submit" class="btn btn-primary" style="float: right;">Add Car</button>
            </form>
        </div>
        @if(@ViewBag.Warning != null){
        <div class="alert alert-danger" role="alert">
            @ViewBag.Warning
        </div>
        }

    </div>
</div>